<h2>User : @Model.UserName</h2>

<form id="form1">
    <a class="btn btn-outline-primary m-1" asp-controller="Collections" asp-action="Create" asp-route-userid="@Model.Id">Create Collection</a>
    <a class="btn btn-outline-primary m-1" asp-controller="Collections" asp-action="Delete">Delete Collection</a>
    <br/>
    <table class="table table-striped table-hover">
        <tr>
            <th>Name</th>
            <th>Theme</th>
            <th>Number of Items</th>
            <th>Summary</th>
            <th><input type="checkbox" name="cb_all"></th>
        </tr>
        @* @foreach (var collection in Model.Collections) *@
        @* { *@
        @*     <tr> *@
        @*         <td><a asp-controller="Collections" asp-action="Index" asp-route-userid="@Model.Id">@collection.Name</a>@collection.Name</td> *@
        @*         <td>@collection.Theme</td> *@
        @*         <td>@collection.Items.Count</td> *@
        @*         <td>@collection.Summary</td> *@
        @*         <td><input type="checkbox" class="qwe" name="selectedUsers" value="" /></td> *@
        @*     </tr> *@
        @* } *@
    </table>
</form>

<script>
    var f = document.getElementById('form1');
    f.cb_all.onchange = function (e) {
        var el = e.target || e.srcElement;
        var qwe = el.form.getElementsByClassName('qwe');
        for (var i = 0; i < qwe.length; i++) {
            qwe[i].checked=!!el.checked;
        }
    }
</script>