@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Mvc.TagHelpers
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.css">
@{
    ViewData["Title"] = "Collections Page";
}
<div class="text-center">
    <h1 class="display-4">@ViewBag.User.UserName</h1>
</div>
<form id="formCollection">
    @if (SignInManager.IsSignedIn(User) && (User.IsInRole("Admin") || UserManager.GetUserId(User).Equals(ViewBag.User.Id)))
    {
        <a class="btn btn-outline-success m-1" asp-controller="MyCollections" asp-action="Create" asp-route-userid="@ViewBag.User.Id" localize-content>Create Collection</a>
        <button type="submit" class="btn btn-outline-danger m-1" asp-controller="MyCollections" asp-action="Delete" localize-content>Delete Collection</button>
    }
    <br/>
    <table class="table table-striped table-hover" id="collectionsTable">
        <thead>
        <tr>
            <th localize-content>Name</th>
            <th localize-content>Theme</th>
            <th localize-content>Summary</th>
            <th localize-content>Edit</th>
            <th>
                <input type="checkbox" name="cb_all">
            </th>
        </tr>
        </thead>
        <tbody>
        @if (Model != null)
        {
            @foreach (var collection in Model)
            {
                <tr>
                    <td>
                        <a asp-controller="MyCollections" asp-action="Index" asp-route-collectionId="@collection.Id">@collection.Name</a>
                    </td>
                    <td>@collection.Theme</td>
                    <td>@collection.Summary</td>
                    <td>
                        <a class="btn btn-sm btn-outline-primary text-center" asp-controller="MyCollections" asp-action="Edit" asp-route-collectionId="@collection.Id">Edit</a>
                    </td>
                    <td>
                        <input type="checkbox" class="collection" name="selectedCollections" value="@collection.Id"/>
                    </td>
                </tr>
            }
        }
        </tbody>
    </table>
</form>
<script>
    var f = document.getElementById('formCollection');
    f.cb_all.onchange = function (e) {
        var el = e.target || e.srcElement;
        var qwe = el.form.getElementsByClassName("collection");
        for (var i = 0; i < qwe.length; i++) {
            qwe[i].checked=!!el.checked;
        }
    }
    
    $(document).ready( function () {
        $('#collectionsTable').DataTable();
    });
</script>