<div class="text-center">
    <h1 class="display-4">User: @ViewBag.User.UserName</h1>
</div>
<form id="form1">
    <a class="btn btn-outline-primary m-1" asp-controller="MyCollections" asp-action="Create" asp-route-userid="@ViewBag.User.Id">Create Collection</a>
    <button type="submit" class="btn btn-outline-primary m-1" asp-controller="MyCollections" asp-action="Delete">Delete Collection</button>
    <br/>
    <table class="table table-striped table-hover">
        <tr>
            <th>Name</th>
            <th>Theme</th>
            <th>Summary</th>
            <th>
                <input type="checkbox" name="cb_all">
            </th>
        </tr>
        @if (Model != null)
        {
            @foreach (var collection in Model)
            {
                <tr>
                    <td>
                        <a asp-controller="MyCollections" asp-action="Index" asp-route-collectionId="@collection.Id">@collection.Name</a>
                    </td>
                    <td>@collection.Theme</td>
                    <td>@collection.Summary</td>
                    <td>
                        <input type="checkbox" class="collection" name="selectedCollections" value="@collection.Id"/>
                    </td>
                </tr>
            }
        }
    </table>
</form>

<script>
    var f = document.getElementById('form1');
    f.cb_all.onchange = function (e) {
        var el = e.target || e.srcElement;
        var qwe = el.form.getElementsByClassName("collection");
        for (var i = 0; i < qwe.length; i++) {
            qwe[i].checked=!!el.checked;
        }
    }
</script>