@using Microsoft.AspNetCore.Identity
@model CollectionApp.ViewModels.ChangeRoleViewModel

<h2 localize-content>Change roles for: </h2>
<h2>@Model.UserEmail</h2>

<form asp-action="Edit" method="post">
    <input type="hidden" name="userId" value="@Model.UserId"/>
    <div class="form-group">
        @foreach (IdentityRole role in Model.AllRoles)
        {
            <input type="checkbox" name="roles" value="@role.Name"
                   @(Model.UserRoles.Contains(role.Name) ? "checked=\"checked\"" : "")/>
            @role.Name
            <br/>
        }
    </div>
    <button type="submit" class="btn btn-outline-primary" localize-content>Save</button>
</form>